/* @import url('C:/projects/music-app/reset.scss'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 14px;

    
    /* --secondary-color: #24243C;
    --accent-color: #343757; */
    --prime-color: #FBFBFB;
}
a {
    cursor: pointer;
    display: flex;
    align-items: center;
}

html {
    height: 100%;
}
body {
    /* background-color: var(--prime-color); */
    width: 100%;
    min-height: 100%;
    background-color: var(--prime-color);
}

main {
    width: 100%;
    min-height:1000px;
}
/* ++++++++++++++++++++++++++ Header start ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
header{
    width: 100%;
    height: 151px;
    display: flex;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav-wrap {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   

}
.icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.nav-mob {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.nav-center {
    margin-top: 10px;
    justify-content: center;
}
.clothes-cat {
    height: 2rem;
}
.clothes-cat:hover {
  border-bottom: solid 1px #000000;
  
}
.logo {
    width: 120px;
    height: 110px;
    background-color: #FBFBFB;
    background-image: url("../assets/hnm_logo.png");
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center
} 
.logo-mob {
    width: 60px;
    height: 50px;
    background-color: #FBFBFB;
    background-image: url("../assets/hnm_logo.png");
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
 }
 .nav-mob {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
 }
.nav-left{
    display: flex;
    flex-direction: row;
    margin-right: 5px;
}
.nav-right{
    display: flex;
    flex-direction: row;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
}
.nav_buttons {
    margin-right: 20px;
    display: flex;
    align-items: center;
    
}
 .clothes-cat {
    margin-right: 40px;
 }
 
 /* ++++++++++++++++++++++++ Header End ++++++++++++++++++++++++++++++++++++ */
 /* ++++++++++++++++++++++++ banner ++++++++++++++++++++++++++++++++++++ */
 .banner {
    margin-top: 5rem;
    
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
 }
.set-sail {
    max-width: 1200px;
    min-width: 100px;
}
/* .promo {
    position: absolute;
    width: 500px;
    height: 100px;
    background-color: red;
} */

 /* ++++++++++++++++++++++++ banner End ++++++++++++++++++++++++++++++++++++ */
 /* ++++++++++++++++++++++++ shop section ++++++++++++++++++++++++++++++++++++ */
.shop {
    width: 100%;
    height: 200px;
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    outline: red dashed;
   
    
}

 .shop-card {
    width: 50%;
    height: 100%;
    display: flex;
    
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
    padding-right: 30px;
    padding-bottom: 5px ;
 }

 .p1 {
    background-image: url("../assets/pic1.jpg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    outline:  dashed red;
 }
 
 .p2 {
    background-image: url("../assets/pic2.jpg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
 }
 
 .p3 {
    background-image: url("../assets/pic3.jpg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
 }
 
 .p4 {
    background-image: url("../assets/pic4.jpg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
 }
 





 .sign-up-form {
    width: 300px;
    display: flex;
 }




















 @media screen and (max-width: 1200px){
    .banner {
        height: 40%;
    }
    .set-sail {
        width: 1000px;
    }
 }
 @media screen and (min-width: 1024px){
    .menu{
        display:none;
 
    }
 }
 @media screen and (max-width: 1024px){

    .menu{
        display: flex;
        height: fit-content;
    }
    .menu-icon {
        width: 30px;
        height: 30px;
    }
    .nav-left {
        display: none;
    }
    .nav-right {
        margin-right: 0;
        
    }
    .nav-right .nav_buttons {
        margin-right: 20px;
    }

    .logo {
        display: none;
    }
    .logo-mob {
        display: flex;
    }
    span {
        display: none;
    }
    .nav-center {
        display: none;
    }
   
    .icon {
        width: 24px;
        height: 24px;
    }
    header {
        padding-left: 15px;
        padding-right: 5px;
        height: 72px;
        margin-bottom: 5rem;
    }
    .banner {
        height: 50%;
    }
    .set-sail {
        width: 95%;
    }
       
 }
