/* @import url('C:/projects/music-app/reset.scss'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 14px;

    
    /* --secondary-color: #24243C;
    --accent-color: #343757; */
    --prime-color: whitesmoke;
}
a {
    cursor: pointer;
    display: flex;
    align-items: center;
}

html {
    height: 100%;
}
body {
    /* background-color: var(--prime-color); */
    width: 100%;
    min-height: 100%;
    background-color: var(--prime-color);
}

main {
    width: 100%;
    min-height:1000px;
}
/* ++++++++++++++++++++++++++ Header start ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
header{
    width: 100%;
    height: 151px;
    display: flex;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav-wrap {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   

}
.icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.nav-mob {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.nav-center {
    margin-top: 10px;
    justify-content: center;
}
.clothes-cat {
    height: 2rem;
}
.clothes-cat:hover {
  border-bottom: solid 1px #000000;
  
}
.logo {
    width: 120px;
    height: 110px;
    background-color: #FBFBFB;
    background-image: url("../assets/hnm_logo.png");
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center
} 
.logo-mob {
    width: 60px;
    height: 50px;
    background-color: #FBFBFB;
    background-image: url("../assets/hnm_logo.png");
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
 }
 .nav-mob {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
 }
.nav-left{
    display: flex;
    flex-direction: row;
    margin-right: 5px;
}
.nav-right{
    display: flex;
    flex-direction: row;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
}
.nav_buttons {
    margin-right: 20px;
    display: flex;
    align-items: center;
    
}
 .clothes-cat {
    margin-right: 40px;
 }
 
 /* ++++++++++++++++++++++++ Header End ++++++++++++++++++++++++++++++++++++ */
 /* ++++++++++++++++++++++++ banner ++++++++++++++++++++++++++++++++++++ */
 .banner {
    margin-top: 5rem;
    
    width: 100%;
    min-height: 530px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    outline: dashed blue;
 }
 .responsive-img {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: dashed red;
 }
.img-fluid {
    width: 60%;
    height: auto;
}
.banner-ad {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.banner-ad h1 {
    font-size: 1.5rem;
    text-align: center;
}

 /* ++++++++++++++++++++++++ banner End ++++++++++++++++++++++++++++++++++++ */
 /* ++++++++++++++++++++++++ shop section ++++++++++++++++++++++++++++++++++++ */
.slider {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    /* outline: dashed red; */
    margin-bottom: 3rem;
    overflow-x: hidden;
}
.track {
    width: 154%;
    height: 100%;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    /* outline: dashed blue; */
}
.circle-product {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border-radius: 50%;
}
.title-category {
    width: 60%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    /* padding-bottom: .5rem; */
    padding-top: .5rem;
    /* align-items: center; */
}
.title-category h3 {
    font-size: 1.5rem;
}




/* +++++++++++++++++++++++++++++++++++Sign in begins++++++++++++++++++++++++++++++ */


 .sign-up-form {
    font-family: "HM Sans Regular", HMSansHebrew-Regular, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-weight: 400;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    min-width: 500px;
    max-width: 500px;
    margin: auto;
    background-color: #faf9f8;
    align-items: center;
    padding-top: 15px;
    padding: 64px 24px 32px;
    border-radius: 3px;
    box-sizing: border-box;
    outline: none;
    display: inline-block;
    vertical-align: middle;
    position: relative;
 }

.header {
    display: block;
    text-align: center;
}

h2{
    text-align: center;
    padding-top: 15px;
}

h4{
    text-align: center;
}

  
label[types="email"] {
    font-size: 13px;
    line-height: 20px;
    display: block;
    color: #222;
    margin: 6px 0 7px;
    text-transform: none;
    clear: both;
    cursor: default;
    color: #d6001c;
    content: "*";

}

.checkbox-label {
    display: flex;
    margin-bottom: 15px;
    margin-left: 4px;
    padding-top: 0px;
    padding-left: 18px;
    font-size: 13px;
    line-height: 2.6em;
    vertical-align: bottom;

}
input[type="checkbox"]{
    margin: 0 0 0 5px;
    padding-top: 15px;
    margin-left: 4px;
    margin-top: 15px;

}

form input{
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    padding: 14px 25px 14px 10px;
    letter-spacing: normal;
    border: none;
    border-radius: 0;
    color: #222;
    border: 1px solid #d0d0d0;
}
.button {
    background-color:#222;
}


/* +++++++++++++++++++++++++++++++++++++++sign in ends ++++++++++++++++++++++++++++++++++++++++++++/*











@media screen and (max-width: 1024px){
    .banner {
        height: fit-content;
    }
    .responsive-img {
        width: 60%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    
     }
    .img-fluid {
        width: 100%;
        height: auto;
    } 
}



 @media screen and (max-width: 1200px){
    .banner {
        height: 40%;
    }
    .set-sail {
        width: 1000px;
    }
 }
 @media screen and (min-width: 1024px){
    .menu{
        display:none;
 
    }
   

 }
 @media screen and (max-width: 1024px){
    .title-category {
        width: 100%;
    }

    .menu{
        display: flex;
        height: fit-content;
    }
    .menu-icon {
        width: 30px;
        height: 30px;
    }
    .nav-left {
        display: none;
    }
    .nav-right {
        margin-right: 0;
        
    }
    .nav-right .nav_buttons {
        margin-right: 20px;
    }

    .logo {
        display: none;
    }
    .logo-mob {
        display: flex;
    }
    span {
        display: none;
    }
    .nav-center {
        display: none;
    }
   
    .icon {
        width: 24px;
        height: 24px;
    }
    header {
        padding-left: 15px;
        padding-right: 5px;
        height: 72px;
        margin-bottom: 5rem;
    }
    .banner {
        height: 50%;
    }
    .set-sail {
        width: 95%;
    }
       
 }

 @media screen and (max-width: 900px){
    .banner {
        height: fit-content;
    }
    .responsive-img {
        width: 80%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    
     }
    .img-fluid {
        width: 100%;
        height: auto;
    } 
}

@media screen and (max-width: 600px){
    .banner {
        height: 730px;
    }

    .responsive-img {
        width: 95%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-fluid {
        width: 100%;
        height: auto;
}

}
@media screen and (max-width: 500px){
    .banner {
        height: 652px;
       
    }

    .responsive-img {
        width: 97%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-fluid {
        width: 100%;
        height: auto;
}

}
@media screen and (max-width: 400px){
    .banner {
        height: 530px;
       
    }

    .responsive-img {
        width: 97%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-fluid {
        width: 100%;
        height: auto;
}

}
